*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
html, body{
    min-height: 100%;
    height: 100%;
}
body{
    background: url("../img/bg.jpg") center top no-repeat fixed;
    background-size: cover;
}
main{
    padding: 20px 0;
}
main.centrar{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
div{
    width:700px;
    background: #efffef;
    padding: 0 0 50px;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}

div > h1{
    text-align: center;
    line-height: 250%;
    font-style: italic;
    color: white;
    text-shadow: 1px 1px #555;
    margin-bottom: 20px;
    background-color: green;
    border-radius: 8px 8px 0 0;
}

input{
    border: none;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px 0 0 5px;
    text-transform: uppercase;
    color: green;
    margin: 0;
}

input[type="submit"]{
    margin-left: 0px;
    background: green;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    margin:-10px;
    color: white;
}
input[type="submit"]:hover{
    background: darkgreen;
}

form#teste{
    margin:40px;
    text-align: left;
    line-height: 150%;
}

form#teste hr{
    margin: 30px 0;
    border: none;
}

form#teste label{
    display: inline-block;
    margin:5px 0 0 25px;
    width: 100%;
}
form#teste label:hover{
    background-color: white;
    cursor: pointer;
}
form#teste input[type="submit"]{
    float: right;
    border-radius: 5px;
    padding: 10px 20px;
}
h2{
    color:green;
    font-size: 36px;
}
h2~p{
    line-height: 250%;
    color:green;
    font-size: 22px;
}
h3{
    line-height: 250%;
    color: #999;
}
fieldset{
    border: none;
}
legend{
    width: 100%;
    border-bottom: 1px dashed #999;
    background-color: #28A3C5;
    padding: 10px 0 10px 20px;
    box-sizing: border-box;
    color: white;
    font-weight: normal;
    margin-bottom: 10px;
}
table{
    margin: 30px auto;
    border-collapse: collapse;
}
th {
    background-color: #4CAF50;
    color: white;
}
th, td {
    padding: 15px;
    text-align: left;
}
tr{
    border-bottom: 1px solid #ccc;
    background: white;
}
/*
tr:nth-child(even) {
    background-color: #f2f2f2;
}
*/
tr.usu-atual{
    border: 2px solid cornflowerblue;
    background-color: lightcyan;
    color: green;
}
input[type=radio]{
    display: none;
}
label:before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #28A3C5;
    margin-bottom:-1px;
    margin-right: 8px;
    box-sizing: border-box;
}
input:checked + label:before {
    border: 3px solid rgb(40,163,197);
    background-color: white;
}
label:hover:before{
    background-color:greenyellow;
    transition: .3s;
}
